<div class="register">
  <ha-panel class="register-box">
    <h1>{{ "register.RegisterANewAccount" | translate }}</h1>
    <form nz-form [formGroup]="formGroup" nzLayout="vertical" (ngSubmit)="register()">

      <nz-form-item>
        <nz-form-label nzRequired nzFor="firstName">
          {{'common.FirstName' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'common.PleaseEnterYourFirstName' | translate">
          <input type="text"
                 nz-input
                 formControlName="firstName"
                 id="firstName"
                 placeholder="{{ 'common.FirstName' | translate }}"
                 nzSize="large"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="lastName">
          {{'common.LastName' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'common.PleaseEnterYourLastName' | translate">
          <input type="text"
                 nz-input
                 formControlName="lastName"
                 id="lastName"
                 placeholder="{{ 'common.LastName' | translate }}"
                 nzSize="large"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">
          {{'common.Email' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'common.PleaseEnterYourEmail' | translate">
          <input type="text"
                 nz-input
                 formControlName="email"
                 id="email"
                 placeholder="{{ 'common.EmailAddress' | translate }}"
                 nzSize="large"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="password">
          {{'common.Password' | translate }}
        </nz-form-label>
        <nz-form-control [nzErrorTip]="'common.PleaseEnterYourPassword' | translate">
          <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate">
            <input [type]="passwordVisible() ? 'text' : 'password'"
                   nz-input
                   placeholder="{{ 'common.Password' | translate }}"
                   formControlName="password"
                   id="password"/>
          </nz-input-group>
          <ng-template #suffixTemplate>
            <nz-icon [nzType]="passwordVisible() ? 'eye-invisible' : 'eye'"
                     (click)="passwordVisible.set(!passwordVisible());"/>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <button nz-button
              nzBlock
              nzSize="large"
              nzType="primary"
              [disabled]="!formGroup.valid || isSubmitting()">
        {{ 'register.Register' | translate }}
      </button>

      <br/><br/>

      <button nz-button nzBlock nzSize="large" nzType="text" (click)="goToLogin()">
        {{ 'register.AlreadyHaveAnAccount' | translate }}
      </button>

    </form>
  </ha-panel>
</div>
