// Sizes
$side-menu-width: 280px;
$top-menu-height: 80px;

// Paddings
$padding-xl: 30px;
$padding-lg: 24px;
$padding-md: 20px;
$padding-sm: 14px;
$padding-xs: 10px;
$padding-tn: 6px;

// Margins
$margin-xl: 30px;
$margin-lg: 24px;
$margin-md: 20px;
$margin-sm: 14px;
$margin-xs: 10px;
$margin-tn: 7.5px;

// Border Radius
$border-radius-base: 10px;
$border-radius-sm: 5px;
$border-radius-lg: 20px;
