// Media queries breakpoints
$screen-mobile: 575px;
$screen-tablet: 1024px;
$screen-laptop: 1366px;

// Screen content widths
$screen-mobile-width: 100%;
$screen-tablet-width: 100%;
$screen-laptop-width: 100%;
$screen-widescreen-width: 1366px;

// Screen content widths
$screen-mobile-max-width: 380px;
$screen-tablet-max-width: 700px;

// Screen content padding
$screen-mobile-padding: 15px;
$screen-tablet-padding: 30px;
$screen-laptop-padding: 40px;
$screen-widescreen-padding: 60px;
