// Fonts
$font-family: "Open Sans", sans-serif;
$font-code-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

// Headings
$font-heading-1-size: 26px;
$font-heading-2-size: 22px;
$font-heading-3-size: 20px;
$font-heading-4-size: 18px;
$font-heading-5-size: 16px;
$font-heading-6-size: 14px;
$font-heading-7-size: 12px;
$font-heading-8-size: 10px;
$font-heading-1-line-height: 40px;
$font-heading-2-line-height: 36px;
$font-heading-3-line-height: 32px;
$font-heading-4-line-height: 30px;
$font-heading-5-line-height: 28px;
$font-heading-6-line-height: 24px;

// Body Text
$font-size-body: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-tiny: 8px;
$font-line-height: 1.5;

// Icon Fonts
$font-icon-xs: 16px;
$font-icon-sm: 18px;
$font-icon-base: 22px;
$font-icon-lg: 26px;
